@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');

$fontFamily: 'Montserrat Alternates',
sans-serif;

$color1: #fdf4ff;
$color2: #fae8ff;
$color3: #f5d0fe;
$color4: #f0abfc;
$color5: #e879f9;
$color6: #d946ef;
$color7: #c026d3;
$color8: #a21caf;
$color9: #86198f;
$color10: #701a75;
$color11: #4a044e;
$colorWhite: #fff;

$transition: all 1s linear;
$spacing: 0.25rem;